/* Colors */
$primary: #586297;
$secondary: #868e96;
$dark: #343a40;

/* Fonts */
$sans-serif-fonts: "Source Sans Pro", sans-serif;

body {
    color: $dark;
    font-family: $sans-serif-fonts;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    left: 17rem;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}

section {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    padding: 5vh 6rem 5vh 6rem;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 300;
}

.sidebar {
    align-items: center;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 17rem;
}

.sidebar__logo {
    border-radius: 50%;
    border: 0.5rem solid rgba(255, 255, 255, .2);
    margin-bottom: 0.5rem;
}

.sidebar__link {
    color: white;
    font-weight: 300;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.intro__greeting {
    color: $dark;
    font-family: $sans-serif-fonts;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.intro__tagline {
    color: $dark;
    font-family: $sans-serif-fonts;
    font-size: 2.5rem;
    font-weight: 300;
    max-width: 700px;
}

.intro__name {
    font-weight: bold;
}

.background__text {
    max-width: 700px;
}

.skills__icons {
    color: $secondary;
    font-size: 3rem;
}

.skills__icons .devicons:hover {
    color: $primary;
}

@media only screen and (max-width: 768px) {
    main {
        position: static;
    }

    section {
        padding: 5vh 3rem 5vh 3rem;
    }

    .sidebar {
        display: none;
    }

    .intro__greeting, .intro__tagline {
        font-size: 2rem;
    }
}
